{% extends "base/base_profile.html" %}

{% load staticfiles %}

{% block content %}
<style>
    .navbar-inverse .navbar-brand{
        color:#fff;
    }
    #dash_logo{
        height:5em;
        width:auto;
        /*margin-right:0em;*/
    }
    .container-fluid{
        /*height:5em;*/
    }
    .navbar-header{
       /* margin-bottom:2em;*/
    }
    .white{
        color: #FFF;
        /*margin-left: 0.25em;*/
        width: 20em;
        margin-top: 1em;
    }
    .nav_admin{
        margin-top:1em;
        margin-right:0.5em;
    }
    .btn-circle.btn-xl {
      width: 100%;
      height: 7em;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 0em;
    }
    .btn-top{
        margin-top:2em;
    }
    #dash_row{
        margin-top:3em;
    }

    .out{
        background-color: #B4B0B0;
        border-color: #B0B0B0;
    }
    .out:hover{
        background-color: #636363;
    }
</style>

<!-- Main -->
<div class="container-fluid">
    <div class="row" id="dash_row">
        <!-- /col-3 -->
        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
                {% if admin.is_superuser %}
                <strong><h1>Welcome, {{admin.username}}!</h1></strong>
                <span><a href="/profile/"><button class="btn btn-warning">View my Records</button></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 btn-top">
                <h3>PhilSHORE</h3>
                <center>
                <div id="philshore">

                </div>
                <!--
                    {% for user in users %}
                        {% if user.id < 8 %}
                        <div class="col-lg-4 col-md-4 col-sm-1">
                            <a href="/profile/admin_logs/{{user.id}}/"><button id="{{user.id}}" class="btn out btn-circle btn-xl"> {{user.first_name|upper }}</button></a>
                        </div>
                        {% endif %}
                    {% endfor %}
                 -->
                    
                </center>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 btn-top">
                <h3>REMAP</h3>
                <center>
                <div id="remap">
                </div>
                <!--
                    {% for user in users %}
                        {% if user.id > 7 %}
                        <div class="col-lg-4 col-md-4 col-sm-1">
                            <a href="/profile/admin_logs/{{user.id}}/"><button id="{{user.id}}" class="btn out btn-circle btn-xl"> {{user.first_name|upper }}</button></a>
                        </div>
                        {% endif %}
                    {% endfor %}
                -->
                </center>
                </div>
                {% elif admin.is_staff %}
                <strong><h1>Welcome, {{admin.username}}!</h1></strong>
                <span><a href="/profile/"><button class="btn btn-warning">View my Records</button></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 btn-top">
                <h3>REMAP</h3>
                <center>
                    <div id="remap">
                    </div>
                </center>
                </div>
                {% endif %}
                <!--List of Users-->
                <!--
                <div class="col-lg-8 col-lg-offset-2 btn-top">
                <center>
                    <div class="col-lg-3">
                        <a href="/profile/admin_logs/1/"><button id="1" class="btn out btn-circle btn-xl"> ian</button></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/profile/admin_logs/4/"><button id="4" class="btn out btn-circle btn-xl"> mike</button></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/profile/admin_logs/3/"><button id="3" class="btn out btn-circle btn-xl"> toots</button></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/profile/admin_logs/2/"><button id="2" class="btn out btn-circle btn-xl"> cham</button></a>
                    </div>
                </center>
                </div>
                <div class="col-lg-8 col-lg-offset-2 btn-top">
                <center>
                    <div class="col-lg-3">
                        <button class="btn out btn-circle btn-xl"> maan</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn out btn-circle btn-xl out"> justine</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn out btn-circle btn-xl"> oliver</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-warning btn-circle btn-xl">
                            <span>
                                <img id="dash_logo" src="{% static "base/img/PhilSHORE Logo.png"  %}"/>
                            </span>
                        </button>
                    </div>
                </center>
                </div>
                -->
                <!--End of user list-->
        </div>
        <!--/col-span-9-->
    </div>
</div>

<script>

    var userData = {{data_dict|safe}};
    for(var i=0; i < userData.user.length; i++){
        $("#"+String(userData.user[i].component)).append('<div class="col-lg-4 col-md-4 col-sm-1"><a href="/profile/admin_logs/'+userData.user[i].id+'/"><button id="'+userData.user[i].id+'" class="btn out btn-circle btn-xl">'+ userData.user[i].first_name+'</button></a></div>');
    }
    {% for timein in timeInList%}
        $("#{{timein.userId}}").removeClass("out");
        console.log("{{timein.userId}}" );
        $("#{{timein.userId}}").addClass("btn-success");
    {% endfor %}
</script>

{% endblock %}