{% extends "base/base_profile.html" %}

{% load staticfiles %}

{% block content %}
<!--edited-->
   <!--DataTables-->
<link href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css" rel="stylesheet">
<script type="text/javascript" src="{% static "base/js/jquery.dataTables.min.js"  %}"></script>
<script type="text/javascript" src="{% static "base/js/dataTables.bootstrap.js"  %}"></script>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-6">
            <h3>You're logged in as {{user.username}}.</h3>
            {% if user.is_staff %}    
                <h4>{{client.first_name|upper}} Logs </h4>
            {% endif %}
            </div>
            <div class="col-lg-6">
                {% if user.is_superuser or user.is_staff %}  
                <div class="col-lg-4 pull-right">
                     <a href="/profile/dashboard/"> <button class="btn btn-success btn-block" style="margin-top:1.15em;" >Go to Dashboard</button></a>
                </div>
                     {% if client.username %}

                     {% else %}
                        <div class="col-lg-4 pull-right">
                            <button class="btn btn-primary disabled btn-block" style="margin-top:1.15em;" id="logOut_modal">Time Out</button> 
                        </div>

                        <div class="col-lg-4 pull-right">
                            <button class="btn btn-warning btn-block" style="margin-top:1.15em;" id="logIn" >Time In</button>             
                        </div>

                     {% endif %}
                {% else %}
                <div class="col-lg-4 pull-right">
                    <button class="btn btn-primary disabled btn-block" style="margin-top:1.15em;" id="logOut_modal">Time Out</button> 
                </div>

                <div class="col-lg-4 pull-right">
                    <button class="btn btn-warning btn-block" style="margin-top:1.15em;" id="logIn" >Time In</button>             
                </div>

                {% endif %}
            </div>
            <div class="col-lg-10 col-lg-offset-1">
            <table class="table" id="example">
                <thead>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Duration</th>
                </thead>
                <tbody>
                {% for timein in timeInList %}
                    <tr id="{{ timein.dateIn|date:'n_j_Y' }}"> 
                        <td >{{ timein.dateIn }}</td>
                        <td >{{ timein.dateIn|date:"l" }}</td>
                        <td id="{{ timein.dateIn|date:'n_j_Y' }}_in">{{ timein.timeIn|date:"f:s A" }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            </div>      
        </div>
    </div>
  </div>


    <!--DTR Function-->
  <script>
    $(document).ready(function() {
        window.alert = (function() {
            var nativeAlert = window.alert;
            return function(message) {
                window.alert = nativeAlert;
                message.indexOf("DataTables warning") === 0 ?
                    console.warn(message) :
                    nativeAlert(message);
            }
        })();
         var date = new Date();
         var n_j_y = date.getMonth()+1+"_"+date.getDate()+"_"+date.getFullYear();
         var duration = 0;
        {% for timeout in timeOutList%}
            var idOfDataTimeout = "{{ timeout.dateOut|date:'n_j_Y' }}_out";
            var timein = $("#{{ timeout.dateOut|date:'n_j_Y' }}_in").text();
            var durationIn = new Date("{{ timeout.dateOut}} "+ timein);
            var durationOut = new Date("{{ timeout.dateOut}} {{timeout.timeOut|date:'f:s A'}}");

            var hin = ((durationIn.getSeconds()/ 3600)+(durationIn.getMinutes()/ 60) + durationIn.getHours())
            var hout = ((durationOut.getSeconds()/ 3600)+(durationOut.getMinutes()/ 60) + durationOut.getHours())
            
            if( hin >= 12.00 && hin <= 13.00 ){
                duration = hout - 13.00;

                if(duration < 0){
                    duration = 0.0;
                }
            }else if(hout <= 12.00 || hin >= 13.00 ){
                duration = hout - hin;
            }else{
                duration = hout - hin - 1.00;
            }

            

            $("#{{ timeout.dateOut|date:'n_j_Y' }}").append("<td id="+idOfDataTimeout+">{{timeout.timeOut|date:'f:s A'}}</td><td>"+duration.toFixed(3)+" Hours </td>");
        {% endfor %}

        if($("#"+n_j_y).length==1){
            $("#logIn").addClass("disabled");
            $("#logOut_modal").removeClass("disabled");
        }
        if($("#"+n_j_y+"_out").length==1){
            $("#logIn").addClass("disabled");
            $("#logOut_modal").addClass("disabled");
        }


     $('#example').dataTable();

        $("#logIn").on("click",function(){
            location.href="/profile/timein"

        });
        $("#logOut").on("click",function(){
            location.href="/profile/timeout"


        });
       
        $("#logOut_modal").on("click",function(){
            $("#timeoutModal").show();


        });
    });

</script>

{% endblock %}
