{% extends "base/base_login_register.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "accounts/css/register_success.css"  %}" rel="stylesheet">
    <div id="container_reg" class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 mtop_15em" id="main_success_div">
          <div class="panel panel-info shadow" id="panel_Success">

            <div class="panel-heading">
              <div class="panel-title"><h1>&nbsp;Registration Successful!</h1></div>
            </div>
            
            <div class="panel-body">
              <div class="col-lg-12 col-md-12 col-sm-12 success_reg_text" >
              <h3 class="pull-right">Thank you for joining Philshore!</h3>
              <h3 class="pull-right">An activation email will be sent to you as soon as possible.</h3>
              <h4 class="pull-left"><a href="/index/">Click here to visit the Philshore Map.</a></h4>
                
              </div><!--/col-lg-12-->

              <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 pull-right" id="success_logo_div">
                  <div class="col-lg-9" id="success_logo_text">
                    <h4 class="pull-right">Tidal Current Energy Integrated Resource</h4>
                    <h4 class="pull-right">Assessment and Spatial Planning Tool</h4>
                    <hr>
                    <h5 class="pull-right">Philippine Sites for Harnessing Ocean Renewable Energy</h5>
                  </div>
                  <div class="col-lg-3 pull-left" id="success_logo_logo">
                    <img class="logo_size" src="{% static "base/img/PhilSHORE Logo.png"  %}" alt="philshore logo">
                  </div>                                              
              </div>
          </div><!--/panel-body-->
        </div><!--/panel-->
          
        </div><!--/col-lg-5-->
        <div class="col-lg-5 col-md-5 col-sm-5 mtop_8em reg_side_div" >
          <h1>Tidal Current Energy Integrated Resource Assessment</h1>
          <h1>and Spatial Planning Tool</h1>
          <p align="justify">
            PhilSHORE is a multi-site, multi-device and multi-criteria decision support tool designed to support the development of tidal current energy in the Philippines. Its platform is based on Geographic Information Systems (GIS) which allows for the collection, storage, processing, analyses and display of geospatial data. Combining GIS tools with open source web development applications, PhilSHORE becomes a webGIS-based marine spatial planning tool. 
          </p>
          <img src="{% static "accounts/img/webgis_shot.png"  %}" class="img-responsive" id="side_ctn_img" alt="Screenshot of the MSP Tool.">
        </div>
      </div> <!--/row-->
    </div><!--/container-->
{% endblock %}