{% extends "base/base_login_register.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "accounts/css/register.css"  %}" rel="stylesheet">
    <div id="container_reg" class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 mtop_8em" id="main_panel_div">
          <div class="panel panel-info shadow" id="panelRegister">
            <div class="panel-heading">
              <div class="panel-title"><h1><span><img class="logo_size" src="{% static "base/img/PhilSHORE Logo.png"  %}" alt="philshore logo"></span>&nbsp;Register with PhilSHORE</h1></div>
            </div>
            
            <div class="panel-body">
            <!--Registration Form Start-->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="error" id="error_fields" style="display:none;">All fields are .</h5>
                <form id="user_form" method="post" action="/register/">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
                      {% if user_form.errors.username %}
                        <p id="p_username" class="has-error">
                          <label for="id_username">Username:</label>
                          <span class="error" id="error_username">{{user_form.errors.username.as_text}}</span> 
                          <input id="id_username" maxlength="30" name="username" placeholder="Username" type="text" class="form-control" required /> <span class="helptext"></span>
                        </p>
                      {% else %}
                        <p id="p_username">
                          <label for="id_username">Username:</label>
                          <input id="id_username" maxlength="30" name="username" placeholder="Username" type="text" class="form-control" required /> <span class="helptext"></span>
                        </p>
                      {% endif %}
                      <p id="p_password">
                          <label for="id_password">Password:</label>
                          <span class="error" id="error_password" style="display:none;">Password must be 8 characters.</span> 
                          <input id="id_password" minlength="8" name="password" type="password" class="form-control" placeholder="Must be 8 characters" required  />
                      </p>
                      {% if user_form.errors.email %}
                        <p id="p_email" class="has-error">
                          <label for="id_email">Email:</label>
                          <span class="error" id="error_email">{{user_form.errors.email.as_text}}</span> 
                          <input id="id_email" name="email" type="email" class="form-control" placeholder="example@domain.com" required  />
                        </p>
                      {% else %}
                        <p id="p_email">
                          <label for="id_email">Email:</label>
                          <input id="id_email" name="email" type="email" class="form-control" placeholder="example@domain.com" required />
                        </p>
                      {% endif %}
                      <p id="p_first_name">
                          <label for="id_first_name">First Name:</label>
                          <input id="id_first_name" maxlength="30" name="first_name" placeholder="First Name" type="text" class="form-control" required  />
                      </p>
                      <p id="p_last_name">
                          <label for="id_last_name">Last Name:</label>
                          <input id="id_last_name" maxlength="30" name="last_name" placeholder="Last Name" type="text" class="form-control" required  />
                      </p>

                      <p id="p_organization">
                        <label for="id_organization">Component:</label>
                        <input id="id_component" maxlength="100" name="component" placeholder="Component" type="text" class="form-control" required />
                      </p>
                    </div>
                </div>

            </div>
                <div class="col-lg-12" id="reg_btn_div">
                  <button id="regButton" type="" value="Sign up" class="btn btn-success btn_width" click="regValidate()">Register</button>         
                </div>
            </form>
          </div>
        </div>
        <img src="{% static "accounts/img/logos.png"  %}" class="img-responsive" id="panel_reg_logos" alt="Collaborating Agencies.">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mtop_8em reg_side_div" >
          <h1>Philshore's Online Log Book</h1>
          <p align="justify">
           This virtual log-book allows any Philshore employees to log in anywhere within the campus as long as they access it through Dilnet.
          </p>
          <img src="{% static "accounts/img/webgis_shot.png"  %}" class="img-responsive" id="side_ctn_img" alt="Screenshot of the MSP Tool." style="display:none;">
        </div>
      </div> <!--/row-->
    </div><!--/container-->
    <script>
      document.addEventListener('invalid', (function(){
      return function(e){
          //prevent the browser from showing default error bubble/ hint
          e.preventDefault();
          // optionally fire off some custom validation handler
          // myvalidationfunction();
      };
  })(), true);
    </script>
{% endblock %}