<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% load staticfiles %}
    <title>PhilSHORE {{page_title}}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "base/css/bootstrap.min.css"  %}" />
  </head>
  <body>
    {% if page_title == "Registration" %}
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container pull-right reg_nav_container" >
          <ul class="nav navbar-nav navbar-right">
            <li id="with_account">Already have an account?&nbsp;&nbsp;&nbsp;<span><a href="/login/"><button class="btn btn-primary btn-xs">Log in</button></a></span></li>
          </ul>       
      </div>                                    
    </div>
    {% else %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container pull-right reg_nav_container"></div>                                    
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="row">
            <ul class="list-inline" id="footer_content">
              <li id="footer_home"><a href="#">Home</a></li>
              <li id="home_about"> | </li>
              <li id="footer_about"><a href="#">About</a></li>
              <li id="about_tc"> | </li>
              <li id="footer_tc"><a href="#">Terms and Conditions</a></li>
              <li id="tc_data"> | </li>
              <li id="footer_data"><a href="#">Data Use Policy</a></li>
              <li id="data_contact"> | </li>
              <li id="footer_contact"><a href="#">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>
 </body>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "base/js/jquery-2.1.1.min.js"  %}"></script>
  <script src="{% static "base/js/bootstrap.min.js"  %}"></script>
  <script src="{% static "accounts/js/register.js"  %}"></script>
 </html>
